{% extends "admin/base.html" %}
{# This file injects branding and Bootstrap components into the admin layout #}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | NetDevFlow Admin HQ{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">NetDevFlow HQ</a>
</h1>
{% endblock %}

{% block nav-global %}
<div class="mt-2">
    <a href="{% url 'dashboard' %}" class="btn btn-outline-light btn-sm rounded-pill px-3">
        <i class="fas fa-arrow-left me-2"></i> Dashboard
    </a>
</div>
{% endblock %}